
<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="index1.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>ATST</title>
        <style>
           
            h1 {
                color:red;
                padding-left: 25%;
            }
            
            
    </style>   
        
    </head> 
    
    <body background="https://images.unsplash.com/photo-1606502497430-26309bc0cc7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
        <h1 >Welcome to Adaptive Traffic Signal Timer</h1>
        </br>
        </br>
        </br>
        <div class="position-relative">
        <div class="container ">
        <a href="/display">
            <input type="button" class="btn btn-success" value="Live Video" />
        </a>
        
        <a href="/v">
            <input type="button" class="btn btn-success" value="Upload Video" />
        </a>
        </div>
        </div>
    </body>

</html>