<!DOCTYPE html>
<html>
    <head>
       
        <title>ATST</title>
        <style>
            h2{
                text-align: center;
                color: limegreen;
                font-size: 29px;
            }
        </style>
    </head>    
    <body background="http://www.hdnicewallpapers.com/Walls/Big/3D/3D_Traffic_Signal_Wallpaper.jpg" style="background-size: 100% 700%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h2 class="mt-5">Video Streaming</h2>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
</body>

</html>